.app-root {
    min-height: 100vh;
    background-color: #0f172a;
    background: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}